@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #4D75C4 !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1a202c;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.z-20 {
  z-index: 20;
}

/* example: override wallet button style */
/* .wallet-adapter-button:not([disabled]):hover {
  background-color: #574d76;
} */

